@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joe's Pizza Online</h1>
    <p>Click to Order<a href="order Pizza"></a></p>
</div>
   <!DocType html>
   <html>
       <head>
           <title>Home Page</title>
       </head>
       <body>
           <h1>Welcome to joe's Pizza</h1>
           <p>This is a sample homepage with dummy content</p>
       </body>
   </html>
